* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foto {
  background-color: inherit;
  width: 100%;
  max-width: 18rem;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
header {
  width: 100%;
  height: 150px;
  border-bottom: solid 2px orange;
  background-color: rgba(224, 224, 224, 0.116);
}

h1 {
  text-align: center;
  padding: 15px;
  color: rgb(24, 23, 23);
}

.searchdiv {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 5px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  color: #535353;
}
.inp {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.inp1 {
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: color 0.4s linear;
  position: relative;
}
.inp1:hover {
  color: #535353;
  border-bottom: solid 1px orange;
}

.news {
  padding: 50px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  transition: all 5.0 ;
}

.hidediv {
  display: none;
}

.showdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(5, 5, 5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.card {
  background-color: rgb(255, 255, 255);
  
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(1.05);
}
.showdiv,
h2,
p {
  padding: 10px;
  margin-bottom: 10px;
}

.showdiv a {
  font-size: x-large;
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.showdiv a:hover {
  color: rgb(22, 22, 22);
  border-bottom: solid 1px orange;
}
.url {
  margin-top: 7px;
  order: 1;
}
.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 40px;
}

.previous,
.next {
  background: none;
  border-radius: 2px;
  border: 1px solid grey;
  font-size: large;

  width: 90px;
  height: 28px;
  cursor: pointer;
}

.previous:hover {
  background-color: rgb(255, 185, 56);
  color: white;
  border-radius: 3px;
}
.next:hover {
  background-color: rgb(255, 185, 56);
  color: white;
  border-radius: 3px;
}
footer {
  background-color: rgba(185, 185, 185, 0.116);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.thankyou {
  display: flex;
  justify-content: center;
  color: rgb(17, 17, 17);
}

@media (max-width: 768px) {
  header {
    height: 130px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .news {
    padding: 150px 10px 10px 10px;
    grid-template-columns: 1fr;
  }

  .foto {
    max-width: 100%;
    height: auto;
  }

  .showdiv a {
    font-size: large;
  }

  .btns{
   margin-top: 20px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .inp {
    display: flex;
    gap: 3px;
  }

  .inp1 {
    padding: 0;
    font-size: small;
  }

  .news {
    padding: 120px 5px 5px 5px;
  }

  .btn {
    font-size: 12px;
    margin-top: 10px;
  }

  .previous,
  .next {
    width: 60px;
    height: 20px;
  }

  .thankyou {
    font-size: 0.8rem;
  }
}
